.myapp-comp-resume
    position: relative
    top: calc(100% - 250px)
    width: 80px
    height: 250px
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 1.5rem
    >img
        max-width: 100%
        border-radius: 20px
        margin-bottom: 2rem
    &-github
        margin-bottom: 1rem
        a
            color: inherit