.myapp-comp-resume
    position: sticky
    top: 20vh
    margin: 0 auto
    text-align: center
    font-size: 1.5rem
    width: 80px
    >img
        max-width: 100%
        border-radius: 20px
        margin-bottom: 2rem
    &-github
        margin-bottom: 1rem
        a
            color: inherit
    &-wx
        font-size: 1rem
        color: white
        background-color: rgba(0, 0, 0, 0.800)
        line-height: 2
        padding: 0 4px
        margin: 0 4px
        border-radius: 4px
        position: absolu