@use '../../../../index.sass' as *
.myapp-comp-gamehistory
    display: flex
    flex-direction: column
    align-items: center
    &-reset
        margin: 3rem 0
        @extend %button-style
    &-step
        &-text
            text-align: center
        &-normal
            border: 2px solid gray
            border-radius: 4px
        &-hidden
            visibility: hidden
        &-visible
            visibility: visible
        &-select
            border-color: green