@use '../../index.sass' as *
@use '../../../node_modules/antd/dist/antd.css'
.myapp-layout
    $link-color: #40a9ff
    min-height: 100vh
    display: grid
    grid-template-rows: auto 1fr
    &-header
        position: sticky
        top: 0
        z-index: 6
        background-color: #dddddd
        border-bottom: 2px solid #dddddd
        display: flex
        align-items: center
        &-logo
            flex: 2 0
            text-align: center
            cursor: pointer
        &-nav
            flex: 8 1
            font-size: 1rem
            &-dropdown
                @media screen and (min-width: $breakpoint-small)
                    display: none
                margin-left: 2rem
                width: 4rem
                text-align: center
                cursor: pointer
                &-button
                    color: $link-color
                    font-size: 1.2rem
                    text-decoration: underline
                &-vertical
                    position: absolute
                    border-radius: 3px
                    background-color: #dddddd
                    >div
                        text-decoration: underline $link-color
                        padding: 0.4rem 0.4rem
            &-horizontal
                @media screen and (max-width: $breakpoint-small)
                    display: none
                &-link
                    margin: 0 1rem
                    border-bottom: 1px solid $link-color
                    &-active
                        border-bottom: 2px solid $link-color
                &-seperator
                    font-weight: 300
        &-theme
            flex: 1 0
            &-button
                font-size: 1.2rem
                cursor: pointer
        &-user
            flex: 2 0 3rem
            text-align: center
            &-registered
                font-size: 1.2rem
        &-sign
            flex: 1 0 2rem
            >span
                font-size: 1rem
                border-bottom: 1px solid $link-color
                color: $link-color
                cursor: pointer
                &:hover
                    font-weight: bold
    &-main
        background-color: #ffffff
        &-placeholder
            position: sticky
            top: 34px
            z-index: 4
            height: 1rem
            background-color: inherit
