.myapp-tic
    display: grid
    grid-auto-rows: auto
    row-gap: 2rem
    justify-items: center
    &-header
        font-size: 1.2rem
        border: 1px solid gray
    &-main
        --width: 19rem
        width: clamp(var(--width), var(--width) * 2.5, 100%)
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr))
        gap: 4rem
        justify-items: center