.myapp-about
    font-size: calc(0.5rem + 1vw)
    display: flex
    gap: 1rem
    background-color: inherit
    &-main-left
        flex: 1 1
        margin-left: 2rem
    &-main-center
        flex: 5
        margin-right: 2rem
        background-color: inherit
        &-headline
            font-size: 1.2rem
            text-align: center
        hr
            font-size: 1rem
            border: none
            color: inherit
            background-color: inherit
            overflow: visible
            text-align: center
            border-bottom: 3px double gray
            height: 0.8rem
            &::after
                background-color: inherit
                content: 'All done by myself'
                padding: 0 3px
                font-style: italic
