@use '../../index.sass' as *
.myapp-home
    font-size: calc(0.5rem + 1vw)
    display: grid
    grid-template-columns: 1fr 6fr minmax(20ch, 2fr)
    gap: 1.5rem
    @media screen and (max-width: $breakpoint-small)
        grid-template-columns: auto 1fr auto
        gap: 0.5rem
    &-main-center
        grid-column: 2
        &-catalog
            @media screen and (min-width: $breakpoint-small)
                display: none
            padding: 1rem 0
            width: fit-content
            &-button
                font-size: 1.2rem
                text-decoration: underline
            &-files
                padding: 0.2rem 1rem
                background-color: #9999996f
        &-content
            & *
                font-size: inherit
            &-title
                font-size: 1.5em
            &-time
                font-size: 0.8em
                margin: 1rem 0
    &-main-right
        @media screen and (max-width: $breakpoint-small)
            display: none
        &-category-subject
            font-size: 1.2rem
            margin: 0.8rem 0
            >span
                cursor: pointer
            @at-root .myapp-home-main-right-category-file
                font-size: 1rem
                margin: 0.4rem 0
                >span:nth-child(1)
                    display: inline-block
                    width: 1.2rem
                >span:nth-child(2)
                    cursor: pointer