@use '../../index.sass' as *
.myapp-home
    font-size: calc(0.5rem + 1vw)
    display: grid
    grid-template-columns: 1fr minmax(60ch, 6fr) 2fr
    gap: 1.5rem
    &-main-center
        grid-column: 2
        & *
            font-size: inherit
        &-title
            font-size: 1.5em
        &-time
            font-size: 0.8em
            margin: 1rem 0
    &-main-right
        @media screen and (min-width: $breakpoint-small)
            grid-column: 3
        @media screen and (max-width: $breakpoint-small)
            grid-column: 2
            grid-row-start: -1
        &-category-subject
            font-size: 1.2rem
            margin: 0.8rem 0
            >span
                cursor: pointer
            @at-root .myapp-home-main-right-category-file
                font-size: 1rem
                margin: 0.4rem 0
                >span:nth-child(1)
                    display: inline-block
                    width: 1.2rem
                >span:nth-child(2)
                    cursor: pointer