@import '../node_modules/antd/dist/antd.css'
$breakpoint-small: 800px
body
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
    font-size: 1.2rem
.dark-theme
    color: #ffffff
    background-color: #333333
.none-user-select
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
